---
# Playbook for Complete OpenWrt Build Workflow
# Usage: ansible-playbook playbooks/openmanet-image.yml
#
# This playbook performs a complete OpenWrt firmware build:
# 1. Clones OpenMANET/firmware repository
# 2. Checks out specified branch
# 3. Initializes build environment with openmanet_setup.sh
# 4. Applies docker_diffconfig for Docker support
# 5. Downloads all required sources
# 6. Builds the firmware image
# 7. Pulls build artifacts back to local machine
#
# Note: This playbook runs on the build server (not on OpenMANET devices).
# Configure build server connection in inventory or via variables.
#
# Examples:
#   ansible-playbook playbooks/openmanet-image.yml                    # Full build
#   ansible-playbook playbooks/openmanet-image.yml --tags clone       # Just clone
#   ansible-playbook playbooks/openmanet-image.yml --tags build       # Just build
#   ansible-playbook playbooks/openmanet-image.yml --tags artifacts   # Just pull artifacts
#
# Note: Flashing is done via the site.yml playbook targeting devices:
#   ansible-playbook playbooks/site.yml --tags flash --limit gateway \
#     -e "openwrt_flash_image_local=../artifacts/openwrt/firmware.img.gz"

- name: Complete OpenWrt Build Workflow
  hosts: localhost
  gather_facts: yes
  become: no
  vars_files:
    - ../group_vars/all.yml
  
  roles:
    - openmanet-image

