---
# Main playbook for OpenMANET gateway deployment
# Usage: ansible-playbook playbooks/site.yml

- name: Install OPKG Packages on Gateway
  hosts: openmanet_devices
  gather_facts: false
  become: false
  tags:
    - opkg
  
  tasks:
    - name: Include opkg-packages role
      include_role:
        name: opkg-packages
      tags:
        - opkg

- name: Deploy Docker on Gateway
  hosts: openmanet_devices
  gather_facts: false
  become: false
  tags:
    - docker
  
  tasks:
    - name: Include docker role
      include_role:
        name: docker
      tags:
        - docker

- name: Deploy GPS on Gateway
  hosts: openmanet_devices
  gather_facts: false
  become: false
  tags:
    - gps
  
  tasks:
    - name: Include gps role
      include_role:
        name: gps
      tags:
        - gps

- name: Reset GPS on Gateway
  hosts: openmanet_devices
  gather_facts: false
  become: false
  tags:
    - gps-reset
  
  tasks:
    - name: Include gps-reset role
      include_role:
        name: gps-reset
      tags:
        - gps-reset

- name: Deploy GovTAK on Gateway
  hosts: openmanet_devices
  gather_facts: false
  become: false
  tags:
    - govtak
  
  tasks:
    - name: Include govtak role
      include_role:
        name: govtak
      tags:
        - govtak
        - govtak-certs
        - govtak-setup

- name: Deploy OpenTAKServer on Gateway
  hosts: openmanet_devices
  gather_facts: false
  become: false
  
  tasks:
    - name: Import opentakserver role
      import_role:
        name: opentakserver

- name: Deploy OpenWrt Image on Gateway
  hosts: openmanet_devices
  gather_facts: false
  become: false
  tags:
    - openwrt
  
  tasks:
    - name: Include openwrt role
      include_role:
        name: openmanet-image
      tags:
        - openwrt
        - openwrt-flash

- name: Deploy USB-C Gadget on Gateway
  hosts: openmanet_devices
  gather_facts: false
  become: false
  tags:
    - usbc-gadget
  
  tasks:
    - name: Include usbc-gadget role
      include_role:
        name: usbc-gadget
      tags:
        - usbc-gadget

- name: Deploy CloudTAK on Gateway
  hosts: gateway
  gather_facts: false
  become: false
  
  tasks:
    - name: Import cloudtak role
      import_role:
        name: cloudtak

- name: Deploy OpenWrt Docker Diffconfig to Build Server
  hosts: localhost
  gather_facts: false
  become: false
  tags:
    - openwrt
    - openwrt-build
  
  tasks:
    - name: Include openwrt role
      include_role:
        name: openmanet-image
      tags:
        - openwrt

- name: Upload DTED files to OpenTAKServer
  hosts: openmanet_devices
  gather_facts: false
  become: false
  tags:
    - ots-dted
  
  tasks:
    - name: Include opentakserver-dted role
      include_role:
        name: opentakserver-dted
      tags:
        - ots-dted

- name: Upload ATAK packages to OpenTAKServer
  hosts: openmanet_devices
  gather_facts: false
  become: false
  tags:
    - ots-packages
  
  tasks:
    - name: Include opentakserver-packages role
      include_role:
        name: opentakserver-packages
      tags:
        - ots-packages

- name: Upload ATAK maps to OpenTAKServer
  hosts: openmanet_devices
  gather_facts: false
  become: false
  tags:
    - ots-maps
  
  tasks:
    - name: Include opentakserver-maps role
      include_role:
        name: opentakserver-maps
      tags:
        - ots-maps

- name: Create users in OpenTAKServer
  hosts: openmanet_devices
  gather_facts: false
  become: false
  tags:
    - ots-users
  
  tasks:
    - name: Include opentakserver-users role
      include_role:
        name: opentakserver-users
      tags:
        - ots-users

