---
# Main playbook for OpenMANET gateway deployment
# Usage: ansible-playbook playbooks/site.yml

- name: Deploy OpenMANET Gateway Configuration
  hosts: openmanet_devices
  gather_facts: no
  become: no
  tags:
    - gateway
    - docker
    - gps
    - gps-reset
    - govtak
    - ots
    - openwrt
    - usbc-gadget
    - cloudtak
  
  tasks:
    - name: Include docker role
      include_role:
        name: docker
      tags:
        - docker

    - name: Include gps role
      include_role:
        name: gps
      tags:
        - gps

    - name: Include gps-reset role
      include_role:
        name: gps-reset
      tags:
        - gps-reset

    - name: Include govtak role
      include_role:
        name: govtak
      tags:
        - govtak
        - govtak-certs
        - govtak-setup

    - name: Include opentakserver role
      include_role:
        name: opentakserver
      tags:
        - ots

    - name: Include openwrt role
      include_role:
        name: openmanet-image
      tags:
        - openwrt
        - openwrt-flash

    - name: Include usbc-gadget role
      include_role:
        name: usbc-gadget
      tags:
        - usbc-gadget

    - name: Include cloudtak role
      include_role:
        name: cloudtak
      tags:
        - cloudtak

- name: Deploy OpenWrt Docker Diffconfig to Build Server
  hosts: localhost
  gather_facts: no
  become: no
  tags:
    - openwrt
    - openwrt-build
  
  tasks:
    - name: Include openwrt role
      include_role:
        name: openmanet-image
      tags:
        - openwrt

- name: Upload DTED files to OpenTAKServer
  hosts: openmanet_devices
  gather_facts: no
  become: no
  tags:
    - ots-dted
  
  tasks:
    - name: Include opentakserver-dted role
      include_role:
        name: opentakserver-dted
      tags:
        - ots-dted

- name: Upload ATAK packages to OpenTAKServer
  hosts: openmanet_devices
  gather_facts: no
  become: no
  tags:
    - ots-packages
  
  tasks:
    - name: Include opentakserver-packages role
      include_role:
        name: opentakserver-packages
      tags:
        - ots-packages

- name: Create users in OpenTAKServer
  hosts: openmanet_devices
  gather_facts: no
  become: no
  tags:
    - ots-users
  
  tasks:
    - name: Include opentakserver-users role
      include_role:
        name: opentakserver-users
      tags:
        - ots-users

