---
# GPS initialization role

- name: Deploy gps-init script to device
  ansible.builtin.template:
    src: gps-init.j2
    dest: /etc/init.d/gps-init
    mode: '0755'
    owner: root
    group: root
  tags:
    - gps

- name: Enable GPS init script to run at boot
  ansible.builtin.command:
    cmd: /etc/init.d/gps-init enable
  changed_when: true
  tags:
    - gps

- name: Check GPS init script status
  ansible.builtin.command:
    cmd: /etc/init.d/gps-init status
  register: gps_status
  changed_when: false
  failed_when: false
  tags:
    - gps

- name: Display GPS status
  ansible.builtin.debug:
    msg: "{{ gps_status.stdout_lines }}"
  tags:
    - gps

